.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchResultCard {
  &:hover {
    cursor: pointer;
  }
  &-container {
    display: flex;
    align-items: center;
    img {
      padding: 0 1em;
      cursor: pointer;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      h5 {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      :last-child {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}
.sidebar {
  &-filter {
    .filterChoice {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.header {
  background: hsla(21, 33%, 63%, 1);

  background: linear-gradient(
    135deg,
    hsla(21, 33%, 63%, 1) 0%,
    hsla(196, 32%, 47%, 1) 36%,
    hsla(196, 32%, 47%, 1) 51%,
    hsla(359, 87%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(21, 33%, 63%, 1) 0%,
    hsla(196, 32%, 47%, 1) 36%,
    hsla(196, 32%, 47%, 1) 51%,
    hsla(359, 87%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(21, 33%, 63%, 1) 0%,
    hsla(196, 32%, 47%, 1) 36%,
    hsla(196, 32%, 47%, 1) 51%,
    hsla(359, 87%, 48%, 1) 100%
  );
}
.modelBar {
  .mantine-Radio-label {
    font-weight: bold;
  }
}
.stickyContainer {
  // background-color: #141517;
  padding: 1em 0;
  width: 100%;
}
.sticky {
  position: sticky;
  z-index: 3;
  top: 80px;
}

.mantine-Switch-thumb {
  border-radius: 50%;
}
.mantine-Switch-track {
  border-radius: 15px;
}
.SearchResult {
  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
